body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 125%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #5F9EA0;
    border-width: 5px;
    width: 20%;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5.600rem;
  color: #FFD700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #008B8B;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #5F9EA0;
}

.top-container {
  background-color: #008B8B;
  position: relative;
  padding-top: 100px;
}

.mid-container {

}

.bottom-container {
  background-color: #008B8B;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Computer {
  width: 15%;
  float: left;
  padding-right: 30px;
}

.Film {
  width: 15%;
  float: right;
  padding-left: 30px;
}
