body {
      background-color: #008B8B;
     }

h1 {
    color: #FFFF00;
   }

h3 {
    color: #FFD700;
   }

hr {
    background-color: #008B8B;
    border-style: none;
    border-top-style: dotted;
    border-color: #EEE8AA;
    border-width: 5px;
    width: 20%;
   }
